<h1>Parts Index</h1>

<div style="width: 50%">
  <% @part.each do |part| %>
    <%= part.type %>
    <%= part.brand %>
    <%= part.part_number %>
    <br>
    <hr>
    <br>
  <% end %>

</div>

<div style="width: 50%">

  
</div>