// Place all the styles related to the parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr {
  cursor: pointer;
}
table.user-show {
  tr {
    cursor: auto;
  }
}
.btn-group-wrapper {
  margin-bottom: 40px;
}