<% title "#{@machine.title} | Machine Cheat Sheet" %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2><%= @machine.title %></h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Air Filters</strong></div>
        <table class="table table-striped table-hover user-show">
          <thead>
            <tr>
              <th>Brand</th>
              <th>Part Number</th>
            </tr>
          </thead>
          <tbody>
            <% @machine.parts.where("type = ?", "AirFilter").each do |a| %>
              <tr>
                <td><%= a.brand %></td>
                <td><%= a.part_number %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>